
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    /*height: 100%;*/
    min-height: auto;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 117px;
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 19px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: color 0.3s;
    font-family: "PingFang TC";
}

li:hover {
    color: #3de753;
}


.sidebar ul li.selected {
    background-color: #ddd;
    font-weight: bold;
}

.sidebar ul li.selected:not(:first-child) {
    border-top: 1px solid #ddd;
}