.header {
    display: flex;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Устанавливает z-index, чтобы Header оставался поверх остального контента */
    background-color: #2cb7ee; /* Замените на ваш фоновый цвет */


    justify-content: space-between;
    align-items: center;
    padding: 7px;
    /*background-color: #8581ef;*/
    color: #fff;
    box-shadow: 0 11px 4px rgba(40, 149, 221, 0.5);
}

.logo {
    margin-left: 30px;
    font-size: 42px;
    font-weight: bold;
    color: #2b057e; /* цвет для выделения */
    font-family: cursive;
    /*font-family: fantasy;*/
    text-shadow: 5px 4px 5px #c0e1ec;

}

.contact-info a {
    font-size: 18px;
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s; /* добавим плавный переход цвета */
}

.contact-info a:hover {
    color: #11a5ca; /* изменяем цвет при наведении */
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    margin-right: 20px;
    padding: 10px;
    font-size: 16px;
}

.search-box button {
    padding: 10px;
    font-size: 16px;
    background-color: #120bdd;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* добавим плавный переход цвета */
}

.search-box button:hover {
    background-color: #45d6fa; /* изменяем цвет при наведении */
}

.cart,
.user-actions {
    margin-left: 10px;
}

.cart button,
.user-actions button {
    margin-right: 30px;
    padding: 10px;
    font-size: 16px;
    background-color: #4d55ec;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* добавим плавный переход цвета */
}

.cart button:hover,
.user-actions button:hover {
    background-color: #16a0e0; /* изменяем цвет при наведении */
}





